build==0.7.0
numpy==1.21.4
packaging==21.2
pep517==0.12.0
Pillow==8.4.0
pyparsing==2.4.7
tomli==1.2.2
torch @ https://download.pytorch.org/whl/cu113/torch-1.10.0%2Bcu113-cp38-cp38-linux_x86_64.whl
typing-extensions==3.10.0.2
